@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto), 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
